@font-face {
    font-family: "Itim";
    src: url("../fonts/Itim-Regular.ttf");
}

.sketch-background {
    font-family: "Itim";
    background-color: #fdf7f2;
}

.sketch-border {
    color: #2c2c2c;
    box-sizing: border-box;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
}

.sketch-title {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-weight: bold;
    cursor: pointer;
    font-family: "Itim";
    font-size: 2em;
    text-align: center;
    border-image: url(../icons/button.svg) 10 10 10 10 stretch stretch;
    background-color: #ffffff;
    background-clip: padding-box;
}

.sketch-button, .sketch-textbox, .sketch-textarea, .sketch-button-click {
    box-sizing: border-box;
    font-family: "Itim";
    font-weight: bold;
    background-color: #ffffff;
    background-clip: padding-box;
    border-style: solid;
    outline: none;
}

.sketch-button {
    cursor: pointer;
    margin-top: 5px;
    font-size: 1em;
    text-align: center;
    border-image: url(../icons/button.svg) 10 10 10 10 stretch stretch;
}

.sketch-textbox {
    width: 100%;
    border-image: url(../icons/button.svg) 10 10 10 10 stretch stretch;
}

.sketch-textarea {
    width: 100%;
    box-sizing: border-box;
    border-image: url(../icons/textarea.svg) 10 10 10 10 stretch stretch;
    overflow: hidden;
    resize: none;
}

.post-title, .post-text {
    padding: 3px;
    margin: 3px;
}

.post-title {
    font-size: 1.7em;
}

.post-text {
    font-size: 1.3em;
}


.sketch-posts-public, .sketch-posts-user, .sketch-posts-system {
    background-clip: padding-box;
    margin-top: 10px;
    word-break: break-word;
    white-space: pre-wrap;
}

.sketch-posts-public {
    border-image: url(../icons/posts-public.svg) 10 10 10 10 stretch stretch;
    background-color: #6cace4;
}

.sketch-posts-user {
    border-image: url(../icons/posts-user.svg) 10 10 10 10 stretch stretch;
    background-color: #26c485;
}

.sketch-posts-system {
    border-image: url(../icons/posts-system.svg) 10 10 10 10 stretch stretch;
    background-color: #dd2d4a;
}

.sketch-anchor {
    text-align: center;
    text-decoration: none;
    color: #2c2c2c;
}

.align-right {
    float: right;
}

.buttons {
    margin: 4px;
    background-color: transparent;
    border: transparent;
    float: right;
    cursor: pointer;
    padding: 0px;
}

.center {
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left-item, .right-item, .container {
    margin: 5px;
    padding: 5px;
}

.container {
    word-break: break-all;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 650px) {
    .left-item {
        flex-basis: 40%;
    }

    .right-item {
        flex-basis: 60%;
        overflow-y: scroll;
        height: calc(100vh - 122px);
    }
}

@media screen and (max-width: 650px) {
    .container {
        flex-direction: column;
    }
}
