<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Proximity</title>
        <link rel="shortcut icon" href="/static/icons/favicon.ico">
        <link rel="stylesheet" href="/static/css/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class="sketch-background center">
        <div>
            <h1>404</h1>
            <div>Oops, It looks like the page does not exist</div>
            <div>Return <a href="/">home</a></div>
        </div>
    </body>
</html>
