<!DOCTYPE html>

<html>
    <head>
        <title>Proximity</title>
        <link rel="shortcut icon" href="/static/icons/favicon.ico">
        <link rel="stylesheet" href="/static/css/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="static/js/index.js"></script>
    </head>
    <body class="sketch-background">
        <div class="container">
            <div class="item1">
                <div>
                    <a href="/" class="sketch-anchor"><h1 class="sketch-border sketch-border-button">Proximity</h1></a>
                </div>
                <div>
                    <input id="textbox" type="textbox" class="sketch-border sketch-border-textbox" placeholder="Title:"></input>
                </div>
                <div>
                    <textarea id="textarea" class="sketch-border sketch-border-textarea" placeholder="What's on your mind?" rows="10" columns="100"></textarea>
                </div>
                <div>
                    <button id="button" class="sketch-border sketch-border-button align-right">POST</button>
                </div>
            </div>
            <div class="item2">
                <div class="align-center">
                    <a href="/"><button class="sketch-border sketch-border-button center">Near You</button></a>
                </div>
                <div id="posts">
                </div>
            </div>
        </div>
    </body>
</html>
