{% extends "layout.html" %}

{% block head %}
    <title>Proximity</title>
    <script src="static/js/index.js"></script>
{% endblock %}

{% block body %}
    <div>
        <a href="/" class="sketch-anchor"><h1 class="sketch-border sketch-title">Proximity</h1></a>
    </div>
    <div class="container">
        <div class="left-item">
            <div>
                <input id="textbox" type="textbox" class="sketch-border sketch-textbox" placeholder="Title:">
            </div>
            <div>
                <textarea id="textarea" class="sketch-border sketch-textarea" placeholder="What's on your mind?" rows="10" columns="100"></textarea>
            </div>
            <div>
                <button id="button" class="sketch-border sketch-button align-right">POST</button>
            </div>
        </div>
        <div class="right-item">
            <div id="posts"></div>
        </div>
        <div id="post-popup"></div>
    </div>
{% endblock %}
